.card {
  border: 6px solid #97a2bb;
  padding: 50px;
  width: 30vw;
  background: #f9f9f9;
  &From {
    select {
      display: block;
      width: 100%;
      border: 2px solid #97a2bb;
      outline: none;
      font-style: italic;
    }
    input {
      margin-top: 10px;
      display: block;
      border: 2px solid #97a2bb;
    }

  }
  &To {
    select {
      width: 100%;
      border: 2px solid #97a2bb;
      outline: none;
      font-style: italic;

    }
  }
  &Btn {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    button {
    }
  }

  p {
    color: black;
    font-size: 24px;
    text-align: center;
  }
}
